@media screen and (max-width: 1199px) {
    .activities {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .activities {
        padding-top: 0;
    }

    .activities__list {
        display: flex;
        column-gap: 30px;
    }

    .activities__container {
        position: relative;
    }

    .activities__overlay {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 370px;
        height: 70px;
        bottom: 0;
        left: 0;
        background-color: rgba(47, 48, 58, 0.8);
    }

    .activities__about {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        text-transform: uppercase;

        color: var(--white);
    }
}