a {
    text-decoration: none;
}

address {
    font-style: normal;
}

button {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    color: var(--dark);
    background-color: var(--white);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}