:root {
    --dark: #212121;
    --charcoal: #757575;
    --blue: #2196F3;
    --white: #fff;
    --black: #000;
    --bgdark: #2F303A;
    --bgwhite: #F5F4FA;
    --grey: rgba(255, 255, 255, 0.6);
    --hoverblue: #188CE8;
    --borderline: #ECECEC;
    --imgborderline: #EEEEEE;
    --sociallinkcolor: #AFB1B8;
    --sociallinkbgcolor: rgba(255, 255, 255, 0.1);
}